apiVersion: v1
kind: ConfigMap
metadata:
  name: dstrategies-back-configmap-env-base
data:
  application.version: V2.0.0
  quarkus.jaeger.endpoint: 'http://jaeger-collector.gitops.svc:14268/api/traces'
  quarkus.jaeger.propagation: b3
  quarkus.jaeger.reporter-log-spans: 'true'
  quarkus.jaeger.sampler-param: '1'
  quarkus.jaeger.sampler-type: const
  quarkus.jaeger.service-name: dstrategies-back
  quarkus.log.level: DEBUG
  quarkus.http.cors: 'true'
